* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}

.navbar_netflix {
    width: 125px;
    height: 100%;
}

.navbar_nav_items {
    display: flex;
    gap: 10px;
}

.netflix_logo {
    width: 100%;
    height: 100%;
}

.language_drop_down {
    background: transparent;
    border: none;
    color: white;
}

.dropdown_container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
}

.signin_button {
    border: none;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    height: 34px;
    width: 90px;
}

.hero_bg_image_container {
    width: 100%;
    height: 100%;
}

.hero_bg_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_bg_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero_card {
    position: absolute;
    top: 40%;
    left: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_title {
    font-weight: 600;
    font-size: 3rem;
}

.hero_subtitle,
.hero_description {
    font-weight: 400;
    font-size: 1.3rem;
}

.email {
    width: 450px;
    height: 58px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

.get_started {
    font-size: large;
    width: 170px;
    height: 56px;
    background-color: #dc030f;
    border: #dc030f;
    color: white;
}

.card-1,
.card-2,
.card-3 {
    border-top: 8px solid rgb(69, 69, 69);
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1 {
    padding-left: 80px;
}

.card-1 video {
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
    margin-left: 90px;
}

.card-1 img {
    grid-column: 2/2;
    grid-row: 1/2;
}

.style-card h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-card h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2 {
    margin-left: 30px;
}

.card-3 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3 {
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img {
    width: 110%;
    grid-column: 2/3;
    grid-row: 1/2;
}

.card-3 video {
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.875rem;
    padding-left: 50px;
    border-top: 8px solid rgb(69, 69, 69);
    padding: 50px;
    box-sizing: border-box;
}

.footer p {
    margin-bottom: 1.5rem;
    padding-left: 180px;
}

footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-left: 200px;
}

.footer li {
    line-height: 1.9;
}

.footer {
    margin-bottom: 30px;
} 
